_site
.sass-cache
.jekyll-metadata
.idea/
.vscode/
*.iml
asset/revealjs/test
asset/revealjs/.gitignore
asset/revealjs/.travis.yml
asset/revealjs/bower.json
asset/revealjs/CONTRIBUTING.md
asset/revealjs/demo.html
asset/revealjs/index.html
asset/revealjs/Gruntfile.js
asset/revealjs/bower.json
asset/revealjs/package.json
asset/revealjs/README.md
